.h{
    background-color: black;
    height: 73px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

img.p {
    height: 40px;
    background-color: black;
    width: 45px;
    display: flex;
    border-color: black;
}

.tc {
    position: absolute;
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #30ae69;
    margin: 10px;
}

.txt {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: sans-serif;
    padding-left: 20px;
    position: absolute;
}

.right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 10px;
    padding: 10px;
}

.box {
    display: flex;
    color: white;
    font-family: sans-serif;
    font-size: 16px;
    justify-content: space-evenly;
    width: 853px;
    height: 43px;
}

.box:hover {
    text-decoration: underline;
}

p {

    text-align: center;
    align-items: center;
    align-content: space-between;
}

/* slider css */
section.slide {
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
}

.s {
    width: 100%;
    height: 546px;
    overflow: hidden;
}

.si {
    width: 500%;
    height: 500px;
    display: flex;
}

.si input {
    display: none;
}

.firstpic {
    width: 20%;
    transition: 2s;
}

.firstpic img {
    width: 100%;
    height: 500px;
}

.navman {
    position: absolute;
    width: 100%;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.man-btn {
    border: 2px solid white;
    width: 14px;
    height: 14px;
    background-color: transparent;
    border-radius: 100%;
    opacity: 1;
    margin-right: 10px;
}
label.man-btn:hover {
    border:5px solid white;
    border-color: white;
}
#radio1:checked ~ .first{
    margin-left: 0;

}
#radio2:checked ~ .first{
    margin-left: -20%;

}
#radio3:checked ~ .first{
    margin-left: -40%;

}
#radio4:checked ~ .first{
    margin-left: -60%;

}
#radio5:checked ~ .first{
    margin-left: -80%;

}
/* slider upper img */
.row {
    display: flex;
    background: transparent;
    position: absolute;
    margin-top: 50px;
    margin-left: -15px;
    height: 319px;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-right: 100%;
}

.lft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 221px;
    width: 559px;
    padding: 0px 15px;
}

.rgt {
    display: flex;
    justify-content: center;
    align-items: center;
}

.b {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-family: sans-serif;
    background-color: black;
    padding: 10px 45px;
    margin-top: 35px;
    border: 1px solid black;
    border-radius: 5px;
}
h1 {
    color: white;
    font-size: 64px;
    font-family: sans-serif;
    margin: 0px 0px 8px;
}

h2 {
    color: white;
    font-size: 40px;
    font-family: sans-serif;
    margin: 0px 0px 8px;
}
img.uf {
    height: 319px;
    width: 370px;
}
/* 3rd section */
.single {
    color: black;
    font-size: 32px;
    font-family: sans-serif;
    position: absolute;
    
    
}

.heading {
    background-color: #30ae69;
    width: 75px;
    height: 5px;
    display: flex;
    margin-left: 50%;
    margin-top: 90px;
    justify-content: center;
    align-items: flex-end;
}

.content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
}
.sbox {
    width: 325px;
    background-color: #f6f5f7;
    overflow: hidden;
    margin: 20px;
    height: 200px;

}
.sbox:hover {
    background-color: #30ae69;
}
.sbox i{
    width: 100%;
    height: auto;
}
.text {
    display: flex;
    align-items: center;
    font-family: sans-serif;
    width: 325px;
    height: 200px;
    flex-direction: column;
    padding-left: 20px;
}

.imgbox {
    height: 200px;
    width: 75px;
    align-content: center;
    margin-left: 45%;
    margin-right: 45%;
}
h5 {
    font-size: 20px;
    font-family: sans-serif;
    margin: 0px 0px 8px;
}
.details {
    font-size: 16px;
    font-family: sans-serif;
    color: #b8b8b8;
}
.threelast {
    display: flex;
    justify-content: center;
    align-items: center;
}
.ay {
    text-align: center;
}                  
/* 4th section css */
.fourbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tsize {
    font-size: 16px;
    font-family: sans-serif;
    margin: 0px 0px 16px;
}
img.forshadow {
    filter: drop-shadow(0px 36px 13px rgba(0, 0, 0, 0.3));
}
/* 4th cmplt */
/* 5th sec css */
h2.power {
    color: white;
    font-family: sans-serif;
    font-size: 32px;
    margin: 0px 0px 20px;
}

section.connect {
    background: linear-gradient(to right, #30ae69, #072e85);
    margin-top: 90px;
}
.rai {
    text-align: justify;
    color: white;
    font-family: sans-serif;
    font-size: 16px;
    margin: 0px 0px 16px;
}
.dwnld {
    margin: 55px 0px 0px;
    display: flex;
    align-items: center;
}
h4 {
    font-size: 20px;
    color: white;
    font-family: sans-serif;
    margin: 0px 25px 8px 0px;
}
.doublerow {
    display: flex;
    justify-content: center;
    align-items: center;
}
.leftrow {
    width: 50%;
    padding: 0px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.rightrowimg {

    display: flex;
    align-items: center;
}

.fullrow {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* 6th section css */
section.auto {
    padding: 90px 0px;
}
/* 7th section css */
.fam {
    text-align: left;
    font-family: sans-serif;
    font-size: 16px;
    margin: 0px 0px 8px;
    color: #6d6c6c;
}

h6 {
    font-family: sans-serif;
    font-size: 12px;
    margin: 0px 0px 8px;
    text-transform: uppercase;
    padding-top: 15px;

}

.boxone {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    box-shadow: 0px 3px 15px 1px rgb(138, 141, 141);
    padding: 0px 10px 5px 10px;
    margin-right: 25px;
}
.caseone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 0px 3px 15px 1px rgb(138, 141, 141);
    padding: 0px 10px 5px 10px;
    margin-right: 25px;
}
.boxtwo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: 16px;
    font-family: sans-serif;
    margin: 0px 0px 16px;
}
.casetwo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: 16px;
    font-family: sans-serif;
    margin: 0px 0px 16px;
}
.clientone {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 45px 162px;
    width: 65%;
}

.clienttwo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 45px 162px;
    width: 65%;
}
.client {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section.testi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 90px;
}
/* last css */
section.foot {
    background-color: #171717;
    padding: 50px 120px;
    padding-bottom: 100px;
}

.allcall {
    display: flex;
    justify-content: center;
    color: white;
    font-family: sans-serif;
}
p.demo {
    text-align: left;
    font-size: 16px;
    margin-bottom: 16px;
    line-height: 25px;
    display: flex;
    align-items: center;
}
a.bye {
    text-decoration: none;
    color: white;
    background-color: #30ae69;
    padding: 8px 35px;
    margin-top: 15px;
    text-transform: uppercase;
    border: 1px solid #30ae69;
}
.contact {
    width: 150px;
}
h1.fat {
    font-size: 50px;
    background-color: #30ae69;
    width: 60px;
    height: 55px;
}
.invest {
    padding-left: 10%;
    width: 150px;
}
.link {
    width: 150px;
    padding-left: 30px;
}
input.mail {
    margin-bottom: 30px;
    border: 3px solid white;
    background-color: transparent;
    padding: 7px 10px;
    width: 150px;
    display: flex;
    padding-right: 50px;
}
h2.stack {
    font-size: 22px;
}
.letter {
    padding-left: 30px;
}